html{
	height: 100%;
}
body{
	position: relative;
	min-height: 100%;
}



.navbar{
	margin-bottom: 10px;
}

.nav-item{
	font-variant: small-caps;	
}

.navbar-nav>.nav-item .active.nav-link{
	color: #d34836;
	background: #ffffff;
}

.nav.navbar-nav>.nav-item>a.nav-link{
	padding: 8px 15px;
}

.tab-content{
	padding-top: 100px;
	padding-bottom: 145px;
}

.col-12, .col-6{
	padding: 0;
	display: flex;
	flex-direction: column;
}

.col-12.col-md-4>.row{
	margin: 0;
}

.cm-text-tile{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	text-transform:uppercase;
	font-weight: 600;
	transition: background .1s linear, color .05s linear;
	min-height: 150px;
}

#cm-text-tile-fit{
	min-height: 0px;
}

.container .row .col-12.col-md-4 .cm-text-tile:hover{
	background: #ffffff;
	color: #ca1a1a;
}

.cm-text-tile>p{
	margin: 0;
	text-align: center;
}

.col-12.col-md-4:last-child .cm-text-tile:last-child{
	background: #e9f9ff
}
.cm-img-cnt{
	position: relative;
	flex-shrink: 0;
}

#cm-row-cnt{
	flex-shrink: 0;
}

.cm-img-cnt > img{
	transition: opacity .3s;
	position: relative;
	z-index:2;
}

.cm-img-cnt p{
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	color: #ffffff;
	font-size: 1.4rem;
	text-transform:uppercase;
	font-weight: 600;
}
.cm-img-cnt > img:hover{
	opacity:0;
}

.col-12.col-md-4:last-child .cm-text-tile:first-child{
	background: #ffe6e6;
}

.cm-footer{
	min-height: 120px;
	background: #f7f7f7;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
}

.cm-footer .container{
	display: flex;
	justify-content: space-around;
	
}

.cm-footer p{
	margin-left: 5px;
}

.cm-cpr{
	text-align: center;
	font-size: .7rem;
}


#cm-scl-btns{
	display: flex;
	padding: 0;
	margin-left: 5px
}

#cm-scl-btns li{
	list-style-type: none;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cm-scl-btns li i{
	opacity: .7;
	transition: opacity .3s
}
#cm-scl-btns li:hover i{
	opacity: 1;
}

#cm-facebook{
	color: #3B5998;
}	
	
#cm-linkedin{
	color: #007bb6;
}
#cm-google-plus{
	color: #d34836;
}
#cm-whatsapp{
	color: #34af23
}
#cm-envelope{
	color: #ffd700
}

.cm-text{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.cm-onas p{
	text-align: justify;
}

.cm-flokowanie h2, .cm-tapicerowanie h2{
	color: #ffffff;
	padding:10px;
	margin: 30px 0 10px 0;
}

.cm-flokowanie h2{
	background: #dda81a
}

.cm-tapicerowanie h2{
	background: #00b5e4;
}

#cm-flag-cnt{
	display:flex;
	align-items: center;
	padding: 5px 0 5px 15px;
}

.cm-galeria .img-fluid{
  display:block;
  float:none;
}
.cm-galeria{position:relative;
padding:0;
}
.cm-galeria .col-lg-2{
  padding:0 !important;
}
.cm-galeria input[type="checkbox"] {
  opacity: 0;
    display: block;
    width: 100%;
    height:100%;
	position: absolute;
}
.cm-galeria .cm-checkbox{
  margin:0;
}
.cm-galeria label >div{
width:100%;
display:block}
.cm-galeria input:checked {
	z-index: 8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.cm-galeria input:checked + div > img{
  position:fixed;
  left:50%;
  width:auto;
  z-index:5;
  top:50%; 
transform: translate(-50%, -50%);
}
.cm-galeria input:checked + div + .cm-img-bck{
  left:0;
  top:0;
  position:fixed;
  width:100vw;
  height:100vh;
  background:#0073ff;
  z-index:4;
  opacity:0.85;  
}

.cm-galeria img:hover{
	opacity: .9
}

@media screen and (max-width: 768px){
	.cm-footer .container{
		flex-direction: column;
	}
	body .tab-content{
		padding-bottom: 320px;
	}
}

@media screen and (max-width: 576px) {
    .navbar.navbar-light>.container {
        margin: 0;
    }
}
